.homeWrapper {
  background-image: url("../../../public/assets/home_background.png");
  height: 100vh;
  width: 100wv;
  z-index: -1;
  color: white;
}

.toggleImages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btnsGrouped {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#img1 {
  position: relative;
  top: 30px;
  left: 15px;
  height: 400px;
}
#img2 {
  position: relative;
  left: 100px;
  height: 550px;
}

.enterBtn {
  padding: 15px 25px;
  border-radius: 15px;
  border: 5px #405bff solid;
  font-size: 18px;
}

#btn1 {
  position: relative;
  top: 70px;
}

#btn2 {
  position: relative;
  left: 90px;
}

@media (max-width: 390px) {
  .homeWrapper {
    background-position-x: right;
    overflow: auto;
  }
  .toggleImages {
    display: flex;
    flex-direction: column;
  }
  .btnsGrouped {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #img1 {
    position: relative;
    /* height: 400px;
    width: 250px; */
  }
  #img2 {
    /* position: relative;
    right: 100px; */

    height: auto;
  }
}
