.homeWrapper {
  background-image: url("../../../public/assets/home_background.png");
  height: 100vh;
  width: 100wv;
  z-index: -1;
  color: white;
}

.toggleImages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#img1 {
  position: relative;
  top: 30px;
  height: 600px;
  width: 340px;
  border: 2px white;
}
#img2 {
  width: 700px;
}

.card img {
  max-width: 100%;
}

@media (min-width: 390px) {
  .homeWrapper {
    background-position-x: right;
  }
  .toggleImages {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
  }
}
